@{
    ViewBag.Title = "Kare Assessment";
}

    <div class="go-to-heroes">
        @using (Html.BeginForm("Heroes", "Home"))
        {
            <button type="submit" class="custom-button">View Heroes</button>
        }
    </div>

